.contributors{
    position: absolute;
    top: 5%;
    right: 50%;
    transform: translate(50%);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
    background-color: var(--color-fon-footer);
    // background-color: var(--color-modal);
    // color: var(--text-color-dark);
    @include mobile {  
        width: 200px;
      }
      @include tablert {
        width: 500px;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
   &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
&__item{


    padding: 10px;

    font-size: 12px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px #7c7a7a;
    background: linear-gradient(white , gray, white 50% );    
    @include mobile {  
        flex-basis: 100%;
      }
      @include tablert {
        flex-basis: calc((100% - 60px) / 3);
      }
}
&__photo{
    width: 100px;
    margin: 0 auto 10px;
    border-radius: 50%;
}
&__name{
    font-size: 11px;
    text-align: center;
}
&__position{
    font-size: 11px;
    text-align: center;
}
&__social-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
&__link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
&__link:hover{
    background: radial-gradient(circle, gray, white 80%);
}
}