.movie {
  margin-left: auto;
  margin-right: auto;
  display: grid;

  @include mobile {
    padding: 20px 0;
    grid-template-columns: 280px;
    gap: 20px;
  }

  @include tablert {
    padding: 60px 0;
    grid-template-columns: repeat(2, 336px);
    gap: 32px;
  }

  @include desktop {
    padding: 60px 0;
    grid-template-columns: repeat(3, 395px);
    gap: 32px 16px;
  }

  &__text {
    margin: 12px 0 10px 10px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    

    color: var(--color-name-film);
    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__genre {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin: 0;

    color: var(--text-ganre-color);
    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__item {
    position: relative;
    align-self: center;
    justify-self: center;
  }

  &-image:hover {
    transform: scale(1.07);
  }

  &-image {
    border-radius: 5px;
    width: 280px;
    height: 402px;

    @include tablert {
      width: 336px;
      height: 455px;
    }
    @include desktop {
      width: 395px;
      height: 574px;
    }

    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform var(--animation-duration) var(--timing-function);
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 5px;
  }

  &__link:hover {
    cursor: pointer;
  }
}

.movie__rating {
  position: absolute;
  top: -18px;
  left: -10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161f23;

  color: #fff;
  z-index: 2;

  &--green {
    border: 2px solid green;
  }
  &--orange {
    border: 2px solid orange;
  }
  &--red {
    border: 2px solid red;
  }
}
