.movie {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  @include mobile {
    padding: 20px 0;
    grid-template-columns: 280px;
    gap: 20px;
  }

  @include tablert {
    // display: grid;
    padding: 60px 0;
    grid-template-columns: 336px 336px;
    gap: 32px;
    // justify-content: center;
  }

  @include desktop {
    // display: grid;
    padding: 60px 0;
    grid-template-columns: 395px 395px 395px;
    gap: 32px 16px;
    // justify-content: center;
  }

  &__text {
    margin: 12px 0 10px 10px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    // margin-top: 12px;

    color: var(--color-name-film);
    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }

  &__genre {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin: 0;

    color: var(--text-ganre-color);
    @include desktop {
      font-size: 20px;
      line-height: 1.2;
    }
  }
  &__item {
    position: relative;
    display: grid;
    // overflow: hidden;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  &-image:hover {
    transform: scale(1.02);
  }

  &-image {
    max-width: 280px;
    max-height: 402px;

    @include tablert {
      max-width: 336px;
      max-height: 455px;
    }
    @include desktop {
      max-width: 395px;
      max-height: 574px;
    }

    height: 100%;
    width: 100%;
    object-fit: cover;

    transition: transform var(--animation-duration) var(--timing-function);
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
  }

  &__link:hover {
    cursor: zoom-in;
  }
}

.movie__rating {
  position: absolute;
  top: -18px;
  left: -10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161f23;

  color: #fff;
  font-size: 18px;
  z-index: 2;

  &--green {
    border: 2px solid green;
  }
  &--orange {
    border: 2px solid orange;
  }
  &--red {
    border: 2px solid red;
  }
}
