.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  opacity: 1;
  transition: top 0.7s, opacity 1s;
  overflow-y: scroll;

  &.is-hidden {
    top: -100%;
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 479.5px) {
    padding: 85px 20px;
  }
}

.movie__modal {
  position: relative;
  max-width: 280px;
  width: 100%;
  border-radius: 10px;
  // background-color: rgba(0, 0, 0, 0.731);
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.7), 5px 5px 10px rgba(0, 0, 0, 0.7);
  background-color: #ffffff;
  overflow: hidden;
  top: 0;
  opacity: 1;
  transition: top 1.1s, opacity 1s;
  margin: 0 auto;

  &.is-hidden {
    top: -100%;
    opacity: 0;
  }

  @media screen and (min-width: 480px) {
  }

  @include tablert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 704px;
    height: 480px;
  }

  @include desktop {
    max-width: 806px;
    height: 520px;
  }
}

.movie__inner {
  background-color: var(--color-modal);
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include tablert {
    flex-direction: row;
  }
}

.image__thumb {
  position: relative;
  overflow: hidden;

  @include tablert {
    min-width: 320px;
  }
  @include desktop {
    min-width: 375px;
  }
}

.movie__poster {
  position: relative;
  height: 100%;
  object-fit: cover;
  @include tablert {
    position: absolute; //?
  }
}

.movie__info {
  max-width: 430px;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.movie__title {
  margin: 0;
  padding: 0;
  color: var(--text-color-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;

  @include desktop {
    font-size: 30px;
    line-height: 1.17;
  }
}

.movie__info-list {
  display: flex;
  margin-bottom: 20px;
}

.movie__characters {
  flex: 1 0 auto;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;

  & p {
    margin: 0;
    padding: 0;
  }
  & li:not(:last-child) {
    margin-bottom: 8px;
  }

  @include tablert {
    margin-right: 40px;
  }

  @include desktop {
    flex: 0 1 auto;
    margin-right: 80px;
  }
}

.movie__data {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: var(--text-color-dark);

  & p {
    margin: 0;
    padding: 0;
    line-height: 1.4;
  }

  & li:not(:last-child) {
    margin-bottom: 8px;
  }

  // &-rating {
  //   background-color: #ff6b01;
  //   border-radius: 5px;
  //   color: #ffffff;
  //   padding: 0 9px;
  // }

  // &-slash {
  //   color: #8c8c8c;
  // }

  // &-count {
  //   padding: 0 9px;
  //   background: #f7f7f7;
  //   border-radius: 5px;
  //   color: #000000;
  // }
}

.movie__about {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-bottom: 8px;
  color: var(--text-color-dark);
}
.movie__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  margin-bottom: 20px;
  color: var(--text-color-dark);
}

.button-wrap {
  display: flex;
}
.movie__btn-watched {
  width: 110px;
  height: 44px;
  padding: 6px 27px;
  border: none;
  background: #ff6b01;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #ffffff;
  margin-right: 15px;
  @include tablert {
    width: 125px;
    padding: 0;
  }

  @include desktop {
    width: 136px;
  }
}
.movie__btn-queue {
  width: 110px;
  height: 44px;
  padding: 14px 0 12px;
  border: 1px solid #000000;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  @include tablert {
    width: 125px;
    padding: 0;
  }

  @include desktop {
    width: 136px;
  }
}
.movie__btn-close {
  top: 8px;
  right: 8px;
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

//rating block style

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  line-height: 0.85;
  @include tablert {
    font-size: 19px;
  }
}
.rating__body {
  position: relative;
}

.rating__body::before {
  display: block;
  content: '★★★★★★★★★★';
}
.rating__active {
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: '★★★★★★★★★★';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__value {
  font-size: 80%;
  padding: 0 10px 0 0;

  @include tablert {
    font-size: 70%;
    line-height: 1.16;
  }
}
