.trailer__frame{
  position: absolute;
  // z-index: 10;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  border: none;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
    @include mobile {
        width: 320px;
        height: 180px;
      }
      @include tablert {
        width: 768px;
        height: 432px;
      }
      @include desktop {
        width: 1280px;
        height: 720px;
      }
}

.show-trailer{
  position: absolute;

  opacity: 0.8;
  cursor: pointer;
  @include mobile {  
    left: 90px;
    top: 168px;
  }
  @include tablert {
    left: 115px;
    top: 200px;
  }
  @include desktop {
    left: 150px;
    top: 255px;

  }

}
.show-trailer:hover::after{
  content: "watch trailer";
  color: black;
  position: absolute;
  top: -20px;
  right: 10px;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 1;
}
