.trailer-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.hide-it .trailer__frame{
  transform: translate(50%, -50%) scale(0.3);
}

.trailer__frame {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) scale(1);
  opacity: 1;
  transition: transform var(--open-modal-time) var(--timing-function);
  visibility: visible;
  border: none;
  box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
  @include mobile {
    width: 300px;
    height: 169px;
  }
  @include tablert {
    width: 700px;
    height: 394px;
  }
  @include desktop {
    width: 1000px;
    height: 562px;
  }
}

.show-trailer {
  transition: fill var(--animation-duration) var(--timing-function);
  position: absolute;
  opacity: 0.8;
  cursor: pointer;
  left: 90px;
  top: 168px;
  @include tablert {
    left: 115px;
    top: 200px;
  }
  @include desktop {
    left: 150px;
    top: 255px;
  }
}
.show-trailer:hover{
  fill: var(--color-active-btn);
  transition: fill var(--animation-duration) var(--timing-function);
}

.show-trailer:hover::after {
  content: 'watch trailer';
  color: black;
  position: absolute;
  top: -20px;
  right: 5px;
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  opacity: 1;
}
