:root {
  --text-color: #000000;
  --text-ganre-color: #ff6b08;
  --color-btn-white: #ffffff;
  --color-active-btn: #ff6b02;
  --color-fon-footer: #f7f7f7;
  --color-text-footer: #545454;
  --color-modal: #b93535;
  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

// .test {
//   transition: 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
// }
