.bg-body {
  --bg-body-color: #ffffff;
}

.footer {
  --bg-footer: #f7f7f7;
}

.footer__text,
.footer__button {
  --color-footer: #545454;
}

.movie__name,
.movie__btn-close {
  --color-name-film: #000;
}

.movie__inner {
  --color-modal: #fff;
}

.movie__title,
.movie__data,
.movie__about,
.movie__description {
  --text-color-dark: #000;
}

.switcher__radio {
  filter: invert(0);
}

.switcher__radio:checked {
  filter: invert(1);
}

.switcher__status {
  // filter: invert(0);
  --bg-status-library: rgba(255, 107, 1, 0.8);
}

.header-wrapper .switcher__status {
  --bgc-status-main: rgba(236, 29, 29, 0.801);
}

.wrap-gallery {
  filter: invert(0);
}
