<section class="modal-auth">
  <div class="wrapper-backdrop">
    <form class="form__auth visually-hidden" autocomplete="off">
      <div class="form__auth__wrap">
        <button type="button" class="auth__btn-close">X</button>
        <div class="form__auth__wrapper">
          <h2 class="form__auth__header">Welcome to our site</h2>
        </div>
        <div class="input__auth__cont">
          <div class="input__auth__container">
            <input
              class="input__auth__name input-auth"
              type="text"
              name="name"
              placeholder="Full name"
            />
            <input
              class="input__auth__email input-auth"
              type="email"
              name="email"
              placeholder="Email"
            />
            <input
              class="input__auth__password input-auth"
              type="password"
              name="password"
              placeholder="Password"
            />
            <div class="button__auth">
              <button class="button__auth__login button-authent">Login</button>
              <button class="button__auth__register button-authent">
                Register
              </button>
              <button
                class="button__auth__logout visually-hidden button-authent"
              >
                Log out
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
