<div class="loader loader--hidden">
  <div class="loader__circles1">
    <div class="loader__circle loader__circle--ad1"></div>
    <div class="loader__circle loader__circle--ad2"></div>
    <div class="loader__circle loader__circle--ad3"></div>
    <div class="loader__circle loader__circle--ad4"></div>
  </div>

  <div class="loader__circles2">
    <div class="loader__circle loader__circle--ad5"></div>
    <div class="loader__circle loader__circle--ad6"></div>
    <div class="loader__circle loader__circle--ad7"></div>
    <div class="loader__circle loader__circle--ad8"></div>
  </div>

  <div class="loader__bigcon">
    <div class="loader__lightball"></div>
  </div>
</div>
