:root {
  --text-color: #000000;
  --text-ganre-color: #ff6b08;
  --color-btn-white: #ffffff;
  --color-active-btn: #ff6b02;
  --color-fon-footer: #f7f7f7;
  --color-text-footer: #545454;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #212121;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.containter {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .containter {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .containter {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .containter {
    max-width: 1280px;
  }
}

.film {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .film {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .film {
    gap: 16px;
  }
}
.film__card {
  list-style-type: none;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .film__card {
    list-style-type: none;
    margin-bottom: 0;
  }
}
.film__img {
  display: block;
  width: 280px;
  height: 402px;
}
@media screen and (min-width: 768px) {
  .film__img {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .film__img {
    width: 395px;
    height: 574px;
  }
}
.film__text {
  margin-top: 10px;
}
@media screen and (min-width: 1280px) {
  .film__text {
    margin-top: 12px;
  }
}
.film__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  margin: 0;
  color: var(--text-color);
}
@media screen and (min-width: 1280px) {
  .film__name {
    font-size: 20px;
    line-height: 1.2;
  }
}
.film__genre {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin: 0;
  color: var(--text-ganre-color);
}
@media screen and (min-width: 1280px) {
  .film__genre {
    font-size: 20px;
    line-height: 1.2;
  }
}

.footer {
  background-color: var(--color-fon-footer);
  min-width: 320px;
  max-width: 100%;
  height: 100px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    height: 77px;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text-footer);
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__text {
    flex-direction: row;
    justify-content: center;
    padding: 0;
    padding-top: 30px;
  }
}
.footer__text--flex {
  margin: 0;
}
.footer__text--bottom {
  margin-bottom: 10px;
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .footer__text--bottom {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 4px;
  }
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text-footer);
}
.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
}

.pagination {
  margin-bottom: 60px;
  margin-top: 60px;
}

.pagination > .container {
  display: flex;
  justify-content: center;
}

.pagination-list {
  display: flex;
  gap: 2px;
}

.pagination-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #000000;
  transition: transform 300ms linear, background-color 300ms linear, color 300ms linear;
}

.pagination-button__arrow,
.pagination-button__page--current {
  width: 40px;
  height: 40px;
  background-color: #f7f7f7;
}

.pagination-button__page,
.pagination-dots {
  padding-left: 8px;
  padding-right: 8px;
  background-color: transparent;
}

.pagination-button__page--current {
  background-color: #ff6b08;
  color: #ffffff;
}

.pagination-button:hover,
.pagination-button:focus {
  transform: scale(1.1);
  background-color: #ff6b08;
  color: #ffffff;
}

/* .pagination-icon {
  width: 16px;
  height: 16px;
} */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header {
  width: 100%;
}/*# sourceMappingURL=main.css.map */